<h3>Создание нового поста</h3>
<%= form_for :post, url: posts_path do |f| %>
  <section class='new-post_field'> 
		<div>
			<h4>Название</h4>
			<%= f.text_field(:title, {:class => 'form_control', style: 'width: 100%'}) %>
		</div>
		<div>
			<h4>Текст статьи</h4>
			<%= f.text_area(:body, {:class => 'form_control', style: 'width: 100%'}) %>
		</div>
		<div>
    	<%= f.submit({:class => 'btn btn-succes'}) %>
		</div>
  </section>
<% end %>
